<label>Ttile</label>
<input type="text" name="title" value="<%= ehr.title %>">
<label>Patient</label>
  <select name="author">
  <% authors.forEach(author => { %>
    <% if (author.id === ehr.author) { %>
      <option selected label="<%= author.amka %>" value="<%= author.id %>">
    <% } else { %>
      <option label="<%= author.amka %>" value="<%= author.id %>">
    <% } %>
  <% }) %>
  </select>
  <div>
  <label>Description</label>
  <textarea name="description"><%= ehr.description %></textarea>
</div>
<div>
  <label>File</label>
  <input type="file" name="fileup" class="FilePond">
</div>
