<!-- display ehr details-->
<h2 class="page-header"><%= ehr.title %></h2>
<div class="ehr-details">
	<div>
		<img class="ehr-cover" width="100" height="150" src="<%= ehr.filePath %>">
		<div class="ehr-details-btn-grid">
			<a class="btn btn-primary" href="/ehrs/<%= ehr.id %>/edit">Edit</a>
      			<%- include('../partials/deleteForm', { url: `/ehrs/${ehr.id}` }) %>
     	 	<a class="btn btn-primary ehr-details-patient-button" href="/patients/<%= ehr.patient.id %>">View Patient</a>
     	</div>
     </div>
     <div class="ehr-details-grid">
		<div class="ehr-details-label">Created At:</div>
		<div> <%= ehr.timeCreated.toDateString() %></div>
		<div class="ehr-details-label">Patient First Name:</div>
		<div> <%= ehr.patient.firstName %></div>
		<div class="ehr-details-label">Patient Last Name:</div>
		<div><%= ehr.patient.lastName %></div>
		<div class="ehr-details-label" >Description:</div>
		<div><%= ehr.description %></div>
	</div>
</div>
