
<!-- Searching and showing author names -R FROM CRUD-->

<h2>Search Authors</h2>
<form action="/authors" method="GET">
  <label>Amka</label>
  <input type="text" name="amka" value="<%= searchOptions.amka %>">
  <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(author => { %>
  <tr>
  	<td><%= author.firstName %></td>
  	<td><%= author.lastName %></td>
  	<td><%= author.amka %></td>
  	
  </tr>
  <!--<div><%= author.amka %></div>-->
<% }) %>