<h2><%= author.firstName %></h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',
            { url: `/authors/${author.id}` }) %>
<% if (ehrForPatient.length > 0) { %>
  <h2>Ehr for Patient</h2>
  <% ehrForPatient.forEach(ehr => { %>
   <a href="/ehrs/<%= ehr.id %>">
    <img height="150" width="100" src="<%= ehr.filePath %>">
	</a>
  <% }) %>
<% } %>